<!--マイページ-->
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-sm-12">
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center">
          <%= image_tag @user.get_profile_image(150,150), class: "rounded-lg" %>
        </div>
        <div class="col-md-7 col-sm-11 offset-1">
          <div class="row mt-2">
            <h4><strong><%= @user.name %></strong></h4>
          </div>
          <div class="row mt-3">
            <h6><%= @user.introduction %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <% if @user == current_user && !current_user.guest_user? %>
      <%= link_to "プロフィール編集", edit_user_path(@user),class:'btn btn-info' %>
    <% end %>
  </div>
  
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-sm-12">
      <div class="row d-flex justify-content-center index-label">
        <h6>イベント一覧</h6>
      </div>
      <div class="row">
        <% @post_events.each do |post_event| %>
        <div class="col-md-5 col-sm-12 text-center my-2">
          <%= link_to(post_event_path(post_event.id), class: "matsuri-style") do %>
            <strong><i class="fa-regular fa-star"></i><span> <%= post_event.title %></span></strong>
          <% end %>
        </div>
        <div class="col-md-2 col-sm-6 my-2">
          <%= post_event.event_date %>
        </div>
        <div class="col-md-5 col-sm-6 my-2">
          <%= post_event.address %>
        </div>
        <% end %>
      </div>
            
        <% if @user == current_user %>
          <div class="row d-flex justify-content-center index-label">
            <h6>お気に入りリスト</h6>
          </div>
          <div class="row">
            <% @fav_events.each do |post_event| %>
            <div class="col-md-5 col-sm-12 text-center my-2">
              <%= link_to(post_event_path(post_event.id), class: "matsuri-style") do %>
                <strong><i class="fa-regular fa-star"></i><span> <%= post_event.title %></span></strong>
              <% end %>
            </div>
            <div class="col-md-2 col-sm-6 my-2">
              <%= post_event.event_date %>
            </div>
            <div class="col-md-5 col-sm-6 my-2">
              <%= post_event.address %>
            </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>


