<header class="sticky-top matsuri-style">
  <nav class="">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-3 col-sm-6 col-es-12 d-flex justify-content-center">
          <a class="navbar-brand ml-3" href="/"><%= image_tag('logo-j.jpg', size: "200x70") %></a>
        </div>
        
        <div class="col-lg-1 col-sm-6 col-es-12 d-flex justify-content-end">
          <div class="my-auto">
            <% if admin_signed_in? %>
              <%= image_tag('fire.jpg', size: "50x50", class: "rounded-circle") %>
              Administrator
            <% elsif user_signed_in? %>
              <%= image_tag current_user.get_profile_image(50,50), class: "rounded-circle" %>
              <%= current_user.name %>
            <% end %>
          </div>
        </div>
        
        <div class="col-lg-5 col-sm-6 col-es-12 mt-4">
            <ul class="nav d-flex justify-content-center">
              <% if admin_signed_in? %>
                <%= render 'layouts/admin_header' %>
              <% elsif user_signed_in? %>
                <%= render 'layouts/user_header' %>
              <% else %>
                <%= render 'layouts/before_signin_header' %>
              <% end %>
            </ul>
        </div>
        
        <div class="col-lg-3 col-sm-6 col-es-12 d-flex justify-content-end mt-4">
          <%= render 'searches/search' %>
        </div>


      </div>
    </div>
  </nav>
</header>
